<p id="notice"><%= notice %></p>
<br />
<h1>To Do List</h1>

<table>
  <thead>
    <tr>
      <th>Título</th>
    </tr>
  </thead>

  <tbody>
    <% @todolists.each do |todolist| %>
      <tr>
        <td><%= todolist.titulo %></td>
        <td><%= check_box("tag", tag.id, {checked: false}) %></td>
        <td><%= link_to 'Editar', edit_todolist_path(todolist) %></td>
        <td><%= link_to 'Deletar', todolist, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Novo item', new_todolist_path %>
